<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.gachongo.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.GachonGOAOS"
        tools:targetApi="31">
        <activity
            android:name="com.example.gachongo.presentation.qr.QrActivity"
            android:exported="false" />
        <activity
            android:name="com.example.gachongo.presentation.main.point.PointActivity"
            android:exported="false" />

        <activity android:name="com.example.gachongo.presentation.main.write.WriteActivity"
            android:exported="false">
        </activity>
        <activity
            android:name="com.example.gachongo.presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gachongo.presentation.main.login.KakaoLoginActivity" android:exported="true" />
        <activity android:name="com.example.gachongo.presentation.main.login.EmailAuthActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.login.NicknameActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.login.WelcomeActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.mypage.MyPageEditActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.mypage.PointManageActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.mypage.PointChargeActivity" android:exported="false" />
        <activity android:name="com.example.gachongo.presentation.main.mypage.KakaoPayActivity" android:exported="true" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth" android:scheme="kakao${kakaoApiKey}" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.gachongo.presentation.main.delivery.LocationService"
            android:exported="true"
            android:foregroundServiceType="location"/>
        <meta-data android:name="com.naver.maps.map.CLIENT_ID" android:value="${naverMapClientId}" />
    </application>

</manifest>